* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Microsoft YaHei';
	margin: 0;
	padding: 0;
	background: #fbfbfb;
	background: url("../img/bg_02.png") no-repeat center top;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover,
a:active,
a:link,
a:visited {
	text-decoration: none;
}

h2 {
	font-size: 16px;
}

.dj-top-banner {
	width: 100%;
	height: 220px;
	background: #ffffff;
	/*-ms-behavior: url(../images/backgroundsize.min_6b5c53fad23044c5b04a1b6f38d6718a.htc);*/
	/*behavior: url(../images/backgroundsize.min_6b5c53fad23044c5b04a1b6f38d6718a.htc);*/
}

.top-logowrap {
	width: 100%;
	margin: 0 auto;
	background: url("../img/top-bg.png") center -10px no-repeat;
}

.top-logo {
	width: 1200px;
	margin: 0 auto;
}

.top-line {
	width: 100%;
	height: 30px;
	background: #f9f9f9;
	z-index: 9999;
}

.topline-de {
	width: 1200px;
	margin: 0 auto;
	/*line-height: 30px;*/
}

.topline-de p {
	color: #808080;
}

.topline-de p a {
	color: #808080;
}

.foot-item {
	width: 100%;
	height: 200px;
	background: #f0f0f0;
	border-top: 4px solid #d21e01;
}

.top-nav {
	width: 100%;
	text-align: center;
	background: #d21e01;
	height: 36px;
}

.top-nav .top-nav-con {
	width: 1200px;
	margin: 0 auto;
}

.top-nav .top-nav-con li {
	width: 11%;
	float: left;
	line-height: 36px;
}

.top-nav .top-nav-con li a {
	display: block;
	color: #ffffff;
	font-size: 16px;
}

.dj-active-tit {
	width: 100%;
	height: 46px;
	float: left;
}

.dj-active-tit img {
	float: left;
	margin: 10px 10px 0 0;
	width: 20px;
}

.dj-active-tit h2 {
	float: left;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
}

.dj-active-tit a {
	float: right;
	line-height: 46px;
	color: #6f6f6f;
	margin-right: 15px;
}

/*==总体布局===*/
.dj-top-date {
	width: 100%;
	height: 40px;
}

.dj-date-con {
	width: 1200px;
	margin: 10px auto;
	height: 40px;
	background: #faf8eb;
}

.dj-date-con .span4 a {
	color: #7f7f7f;
	margin-right: 30px;
}

.dj-date-con .span4 a:hover {
	color: #d21e01;
}

.dj-content {
	width: 1200px;
	margin: 10px auto;
}

.dj-con-left {
	width: 260px;
	height: auto;
	float: left;
}

.dj-con-right {
	width: 900px;
	float: left;
	height: auto;
	margin-left: 20px;
}

/*===dj-content==*/
.dj-date-con .dj-date-left {
	float: left;
	line-height: 40px;
	font-size: 14px;
	color: #3a1212;
}

.dj-date-con .dj-date-right {
	float: right;
	text-align: right;
	line-height: 40px;
	font-size: 14px;
	color: #3a1212;
}

.dj-date-con .span5 {
	margin-left: 0;
}

.dj-date-con .span5 a {
	float: left;
	line-height: 40px;
	color: #000000;
	margin-right: 50px;
	*margin-right: 20px;
}

.dj-date-con p {
	margin: 0;
	padding: 0;
}

/*----.dj-notice----*/
.dj-con-left .dj-notice {
	width: 100%;
	height: 280px;
	/*border: 1px solid #ffa7a6;*/
	background: #ffffff;
	border-top: 2px solid #d21e01;
}

.dj-con-left .dj-noticelist-con {
	width: 100%;
	height: 260px;
}

.dj-notice .dj-noticelist-con {
	width: 92%;
	/*margin-left: 10px;*/
	height: 220px;
}

.dj-notice .dj-noticelist-con ul {
	width: 100%;
	display: inline-block;
}

.dj-notice .dj-noticelist-con ul li {
	width: 100%;
	display: block;
	float: left;
	border-bottom: 1px dashed #dcdcdc;
}

.dj-notice .dj-noticelist-con ul li a {
	display: block;
	width: 100%;
	float: left;
	line-height: 45px;
	color: #5a1e1d;
	outline: 0;
}

.dj-notice .dj-noticelist-con ul li a:hover {
	color: #000000;
}

.dj-con-left .dj-login {
	width: 100%;
	height: 190px;
	/*border: 1px solid #ffa7a6;*/
	border-top: 2px solid #ca2014;
	margin-top: 10px;
	background: #ffffff;
	border-right: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}

.dj-login-list {
	width: 100%;
	height: auto;
	float: left;
}

.dj-login-list .form-horizontal {
	margin: 0;
}

.dj-login-list .form-horizontal .control-group {
	margin-bottom: 15px;
}

.dj-login-list .form-horizontal .control-group .control-label {
	width: 70px;
}

.dj-login-list .form-horizontal .control-group .controls {
	margin-left: 70px;
	*margin-left: 0;
	width: 150px;
}

.dj-login-list .form-horizontal .control-group .controls input {
	width: 100%;
}

.dj-login-list .form-horizontal .control-group .btn {
	background: #dc4848;
	color: #ffffff;
	border: 1px solid #ca2014;
}

.dj-login .dj-login-tit {
	width: 100%;
	height: 50px;
	background: url("../img/log-tit.png") no-repeat left top;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.dj-login .dj-login-tit p,
.dj-login .dj-login-tit a {
	color: #ffffff;
	line-height: 40px;
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.dj-login .dj-login-tit p {
	width: 120px;
}

.dj-login .dj-log-detail {
	width: 80%;
	margin-left: 20px;
	margin-top: 5px;
}

.dj-login .dj-log-detail li {}

.dj-login .dj-log-detail p {
	margin: 0;
	padding-top: 5px;
	padding-bottom: 3px;
}

.dj-login .dj-log-detail p img {
	width: 18px;
}

/*====.dj-active-list===*/
.dj-active-list {
	/*border: 1px solid #ffa7a6;*/
	width: 100%;
	margin-top: 10px;
	height: 190px;
}

.dj-act-btn {
	width: 100%;
	height: auto;
}

.dj-act-btn ul {
	height: auto;
	float: left;
	width: 100%;
}

.dj-act-btn ul li {
	width: 100%;
	float: left;
	height: 52px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 110px;
	border: 1px solid #f0f0f0;
	line-height: 52px;
	background: #ffffff;
}

.dj-act-btn ul li.act-bg-1 {
	background: url("../img/act-1.png") left top no-repeat #ffffff;
}

.dj-act-btn ul li.act-bg-2 {
	background: url("../img/act-2.png") left top no-repeat #ffffff;
}

.dj-act-btn ul li.act-bg-3 {
	background: url("../img/act-3.png") left top no-repeat #ffffff;
}

.dj-act-btn ul li a {
	color: #891b1a;
	display: block;
	font-size: 18px;
	font-weight: lighter;
}

.dj-chart-list {
	width: 100%;
	height: 345px;
	/*border: 1px solid #ffa7a6;*/
	margin-top: 10px;
	background: #ffffff;
}

.dj-chart-list>ul {
	width: 100%;
	border-bottom: 2px solid #f0f0f0;
}

.dj-chart-list>ul>li {
	width: 50%;
	border-radius: 0;
	border: 0;
}

.dj-chart-list>ul>li a {
	border-radius: 0;
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	color: #5b1e1d;
	border: 0;
	background: #f0f0f0;
}

.dj-chart-list .nav-tabs>li>a,
.nav-pills>li>a {
	margin-right: 0;
}

.dj-chart-list .nav-tabs>.active>a,
.dj-chart-list .nav-tabs>.active>a:hover,
.dj-chart-list .nav-tabs>.active>a:focus {
	border: 0;
}

.dj-chart-list .tab-content {
	width: 90%;
	margin-left: 5%;
	height: 267px;
	overflow: hidden;
}

.dj-chart-list .tab-content a {
	color: #5b1e1d;
	line-height: 30px;
}

.dj-chart-list .dj-chart-more {
	/*border-top: 1px solid #ffa7a6;*/
	background: #dc4848;
	color: #ffffff;
}

.dj-chart-list .dj-chart-more a {
	display: block;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
}

.dj-class-item,
.bx-list,
.netclass-list,
.ex-class {
	width: 100%;
	background: #ffffff;
	padding-left: 20px;
}

.bx-list,
.netclass-list,
.ex-class {
	margin-top: 10px;
}

.netclass-list,
.ex-class {
	padding-bottom: 15px;
}

.dj-class-item h2,
.netclass-list h2,
.ex-class h2 {
	color: #ca2014;
	line-height: 44px;
}

.dj-class-item {
	height: 470px;
	border-top: 2px solid #ca2014;
}

.dj-class-con {
	width: 100%;
	/*height: 240px;*/
	float: left;
}

.dj-class-con .nav-tabs {
	border-bottom: 0;
	margin-bottom: 10px;
}

.dj-class-con .nav-tabs li {
	width: 16.6666667%;
	text-align: center;
	background: url("../img/icon2-a.png") no-repeat center center;
}

.dj-class-con .nav-tabs li a {
	color: #000000;
	outline: 0;
	border: 0;
}

.dj-class-con .nav-tabs li a:hover {
	background: none;
	border: 0;
	outline: 0;
}

.dj-class-con .nav-tabs li.active a {
	border: 0;
	background: url("../img/icon2-b.png") no-repeat center center;
	color: #ffffff;
}

.dj-class-con .tab-content ul {
	width: 100%;
	display: inline-block;
}

.dj-class-con .tab-content ul li {
	float: left;
}

.dj-class-con .tab-content .tabtop-ul li {
	width: 20%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	margin-bottom: 10px;
}

.dj-class-con .tab-content .tabtop-ul li img {
	border: 5px solid #f0f0f0;
	width: 155px;
	height: 110px;
}

.dj-class-con .tab-content .tabtop-ul li a {
	line-height: 30px;
	color: #515151;
	width: 92%;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.dj-class-con .tab-content .tabtop-ul li a:hover {
	color: #ca2014;
}

.dj-class-con .tab-content .tabtop-ul li .row .btn-danger {
	background: #ffffff;
	color: #e68888;
	border: 1px solid #e68888;
	text-shadow: none;
}

.dj-class-con .tab-content .tabfoot-ul {
	padding-top: 10px;
}

.dj-class-con .tab-content .tabfoot-ul li {
	width: 50%;
	height: 34px;
}

.dj-class-con .tab-content .tabfoot-ul li a {
	color: #000000;
	font-size: 14px;
}

/*2.15 新添加*/
.tab-contentlist {
	width: 100%;
	float: left;
	height: auto;
	margin-left: -2%;
}

.tab-contentlist ul {
	display: block;
	width: 98%;
	height: auto;
}

.tab-contentlist ul li {
	width: 47%;
	float: left;
	display: block;
	margin-left: 3%;
	line-height: 30px;
}

.tab-contentlist ul li a {
	display: block;
}

.tab-contentlist ul li p {
	float: left;
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0;
}

.tab-contentlist ul.totalclass-list {
	display: block;
	width: 98%;
}

.tab-contentlist ul.totalclass-list li {
	width: 96%;
	float: left;
	display: block;
	line-height: 35px;
	border-bottom: 1px dashed #f0f0f0;
}

.tab-contentlist ul.totalclass-list li a {
	width: 100%;
	font-size: 14px;
	padding-top: 10px;
}

.tab-contentlist ul.totalclass-list li p {
	float: left;
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0;
}

.tab-contentlist ul.totalclass-list li span {
	float: right;
	font-size: 14px;
	color: #a6a6a6;
}

.input-appendlist select {
	margin-right: 10px;
}

.input-appendlist .btn {
	margin-top: -10px;
	background: #ca2014;
	color: #ffffff;
}

/*bx-list*/
.bx-list {
	height: 200px;
	background: url("../img/line1-2.png") no-repeat top left #ffffff;
}

.bx-list-con {
	width: 100%;
	float: left;
}

.bx-list-con ul li {
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	width: 20%;
}

.bx-list-con ul li a {
	display: block;
	width: 92%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #000000;
}

.bx-list-con ul li a:hover {
	color: #ca2014;
}

.bx-list-con ul li a img {
	width: 155px;
	height: 110px;
	border: 5px solid #f0f0f0;
}

.bx-list .nav-tabs {
	border-bottom: 0;
	margin-bottom: 10px;
}

.bx-list .nav-tabs li {
	width: 16.6666667%;
	text-align: center;
	background: url("../img/icon5-2.png") no-repeat 25px 10px;
	background-size: 14%;
	width: 16%;
}

.bx-list .nav-tabs li a {
	color: #bababa;
	outline: 0;
	border: 0;
}

.bx-list .nav-tabs li a:hover {
	background: none;
	border: 0;
	outline: 0;
}

.bx-list .nav-tabs li.active {}

.bx-list .nav-tabs li.active {
	background: url("../img/icon5.png") no-repeat 25px 10px;
	border-top: 2px solid #ca2014;
	background-size: 14%;
}

.bx-list .nav-tabs li.active a {
	border: 0;
	color: #ca2014;
}

.bx-list .nav-tabs>li>a {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}

.bx-list .dj-active-tit {
	position: relative;
}

.bx-list .dj-active-tit>a {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 0;
}

/*netclass-list*/
.netclass-list,
.ex-class {
	height: 180px;
	background: url("../img/line1.png") no-repeat top left #ffffff;
}

.dj-netclass-con,
.ex-class-con {
	width: 100%;
}

.dj-netclass-con li {
	width: 20%;
	float: left;
	text-align: center;
	height: 110px;
}

.dj-netclass-con li a {
	display: block;
	width: 155px;
	/*background: #fefbec;*/
	padding: 20px 0;
	/*border-top: 5px solid #f0f0f0;*/
	/*border-left: 5px solid #f0f0f0;*/
	/*border-right: 5px solid #f6e8e7;*/
	/*border-bottom: 5px solid #f6e8e7;*/
	font-size: 17px;
	color: #651f1d;
	/*font-weight: bold;   */
	font-weight: 400;
	line-height: 24px;
	border: 1px dashed #ea4b56;
	border-radius: 10px;
	/*box-shadow: inset 0 -3px #bb2e13;*/
	/**box-shadow: inset 0 -3px #bb2e13;*/
	height: 80px;
}

.dj-netclass-con li a:hover {
	background: #f3f3f3;
}

.dj-netclass-con li a img {
	height: 45px;
}

.ex-class-con li {
	width: 25%;
	float: left;
	text-align: center;
	height: 130px;
	/*background: #fefbec;*/
}

.ex-class-con li a {
	display: block;
	width: 90%;
	background: url("../img/list-bg-f.png") no-repeat 100% 100%;
	padding: 20px 0;
	border-top: 5px solid #f0f0f0;
	border-left: 5px solid #f0f0f0;
	border-right: 5px solid #f6e8e7;
	border-bottom: 5px solid #f6e8e7;
	font-size: 17px;
	color: #651f1d;
	font-weight: 400;
	/*font-weight: bold;*/
	line-height: 28px;
	box-shadow: inset 0 -3px #bb2e13;
	*box-shadow: inset 0 -3px #bb2e13;
}

/*考试列表*/
.dj-ex-list ul {
	padding-top: 30px;
}

.dj-ex-list ul li {
	line-height: 40px;
	border-bottom: 1px dashed #cecece;
}

/*=考试页面=*/
.dj-content-ex {
	width: 960px;
	min-height: 500px;
	margin: 0 auto;
}

.dj-ex-left {
	width: 800px;
	float: left;
}

.dj-ex-right {
	width: 388px;
	float: right;
	background: #f0f0f0;
}

.dj-ex-cont p {
	line-height: 36px;
}

.dj-ex-cont .dj-ex-chr label {
	margin-top: 10px;
}

.dj-title-top {
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #ffffff;
	line-height: 50px;
}

.dj-title-top p {
	text-indent: 2em;
	font-size: 16px;
}

.dj-title-top a {
	color: #000000;
	text-align: right;
	text-indent: 2em;
}

.dj-exr-con {
	width: 100%;
	height: auto;
	float: left;
}

.dj-exr-con ul {
	width: 100%;
	display: block;
}

.dj-exr-con ul li {
	width: 23.8%;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
	padding: 2px;
}

.dj-exr-con ul li a {
	display: block;
	background: #ffffff;
	color: #000000;
}

.dj-exr-con ul li.active-ex a {
	background: #f79a1c;
	color: #ffffff;
}

/*底部*/
.footer {
	width: 100%;
	text-align: center;
	/*height: 270px;    float: left;    background: #f9f9f9;*/
	/*border-top: 2px solid #f03834;*/
	margin-top: 20px;
}

.footer .link {
	width: 1050px;
	margin: 30px auto 0 auto;
	padding: 0 auto;
}

.footer .link h4 {
	color: #822f2c;
}

.footer .link p a {
	color: #777777;
}

.footer .dj-footer {
	width: 460px;
	height: 200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.dj-footer img,
.dj-footer p {
	float: left
}

.dj-footer p {
	margin-left: 40px;
	line-height: 30px;
	font-size: 14px;
	color: #7e7e7e;
}

.kong {
	height: 40px;
	width: 100%;
	float: left;
}

.erweima {
	margin-left: 30px;
}

/*滚动*/
/*Plugin CSS*/
.str_wrap {
	overflow: hidden;/ / zoom: 1;
	width: 100%;
	font-size: 12px;
	line-height: 16px;
	position: relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	/*background:#f6f6f6;*/
	white-space: nowrap;
}

.str_wrap.str_active {
	/*background:#f1f1f1;*/
}

.str_move {
	white-space: nowrap;
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
}

.str_move_clone {
	display: inline-block;/ / display: inline;/ / zoom: 1;
	vertical-align: top;
	position: absolute;
	left: 100%;
	top: 0;
}

.str_vertical .str_move_clone {
	left: 0;
	top: 100%;
}

.str_down .str_move_clone {
	left: 0;
	bottom: 100%;
}

.str_vertical .str_move,
.str_down .str_move {
	white-space: normal;
	width: 100%;
}

.str_static .str_move,
.no_drag .str_move,
.noStop .str_move {
	cursor: inherit;
}

.str_wrap img {
	max-width: none !important;
}

.pager li>span {
	color: #bababa;
}

.pager .current {
	background: #992415;
	color: #fff;
}

/*考试部分*/
.pct-exam-list {
	width: 100%;
	height: auto;
	display: block;
	float: left;
}

.pct-exam-btn {
	width: 100%;
	height: 50px;
	border: 1px solid #dee7f3;
	border-radius: 5px;
	/*box-shadow: 0 5px 10px rgb(234, 232, 233);*/
}

.pct-exam-time {
	width: 58%;
	float: left;
}

.pct-exam-btncon {
	width: 38%;
	float: right;
	padding-right: 10px;
}

.pct-exam-time p {
	font-size: 20px;
	line-height: 50px;
}

.pct-exam-time p img {
	width: 30px;
	margin-left: 15px;
}

.pct-exam-btncon p {
	margin-top: 10px;
}

.pct-exam-btncon p .btn {
	margin-left: 20px;
}

.pct-exam-btncon p .btn.btn-submit {
	background: #3498db;
	color: #ffffff;
}

.pct-exam-btncon p .btn.btn-checkpage {
	background: #1abc9c;
	color: #ffffff;
}

.pct-exam-btncon p .btn.btn-output {
	background: #eae8e9;
	color: #707070;
}

.title-cag {
	width: 100%;
	height: 35px;
	background: #e8f3f9;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #3fa7ec;
}

.title-cag h2 {
	margin: 0;
	text-indent: 1em;
}

.pct-exam-one {
	border: 1px dashed #cecece;
	padding: 30px 10px 10px 16px;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pct-exam-one label {
	font-size: 16px;
	line-height: 35px;
}

.pct-exam-one p {
	margin-bottom: 10px;
	line-height: 25px;
}

.pct-exam-one input[type="radio"],
.pct-exam-one input[type="checkbox"] {
	margin-top: 10px;
}

.sign-line-btn {
	height: 35px;
	border: 1px dashed #cecece;
	background: #f5f8fa;
	line-height: 35px;
}

.sign-line-btn .sign-btnwrap input {
	width: 80px;
	background: #e9e8ec;
	padding: 2px 0;
	margin-top: 0;
	border: 1px solid;
	margin-left: 20px;
}

.pct-exam-subline button {
	padding: 3px 5px;
	border: 1px solid #cecece;
	background: #f0f0f0;
}

.pct-exam-submitone {
	border-top: 1px dashed #2b6ee9;
	width: 100%;
	height: auto;
	float: left;
	padding-bottom: 20px;
}

.pct-exam-submitone h2 {
	width: 100%;
	height: 40px;
	float: left;
	background: #eef2f9;
	letter-spacing: 10px;
	color: #052f52;
}

.pct-exam-submitone h2 img {
	width: 35px;
	margin-top: -4px;
}

.pct-exam-submitone .dj-exr-con {
	width: 100%;
	float: left;
}

/*==3.8新添加 班级列表*/
.dj-netclass-con,
.dj-netclass-list {
	float: left;
}

.dj-netclass-list {
	margin-top: 30px;
	width: 100%;
}

.dj-netclass-list ul {
	width: 49%;
	float: left;
	height: 150px;
	overflow: hidden;
}

.dj-netclass-list ul li {
	width: 100%;
	float: left;
	line-height: 30px;
	border-bottom: 1px dashed #f0f0f0;
	background: #f8f8f8;
	margin-bottom: 5px;
}

.dj-netclass-list ul li img {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.w-left {
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 300px;
}

.w-right {
	float: right;
	margin-right: 20px;
	color: #676767;
}

.dj-class-slist {
	width: 100%;
	padding-bottom: 10px;
}

.dj-class-slist .dj-slist-con {
	width: 46.8%;
	float: left;
	background: #f8f8f8;
	height: 200px;
	margin-left: 1%;
	margin-top: 8px;
	border-right: 10px solid #f8f8f8;
	border-left: 10px solid #f8f8f8;
}

.dj-title-list {
	width: 100%;
	float: left;
	background: url("../img/bg-line.png") repeat-x center center;
}

.dj-title-list h4 {
	float: left;
	text-indent: 20px;
	line-height: 30px;
	font-size: 16px;
	background: #f8f8f8;
	margin-left: 30px;
	color: #b31f1f;
	font-weight: normal;
}

.dj-title-list a {
	float: right;
	margin-right: 20px;
	line-height: 30px;
	margin-top: 10px;
	color: #aeaeae;
	font-size: 12px;
}

.dj-slistcon ul {
	float: left;
	margin-left: 20px;
	width: 90%;
}

.dj-slistcon ul li {
	line-height: 28px;
	border-bottom: 1px dashed #e2e2e2;
	width: 100%;
}

/*左边导航*/
/*=新考试页面==*/
.topline {
	width: 100%;
	height: 35px;
	background: #cfe3f4;
	display: block;
}

.topline-con {
	width: 960px;
	margin: 0 auto;
}

.topline-con p {
	color: #45677b;
	line-height: 35px;
	font-size: 12px;
}

.topline-con a {
	line-height: 35px;
	font-size: 12px;
	color: #45677b;
}

.ex-content {
	width: 960px;
	margin: 0 auto;
}

.ex-item-con {
	width: 100%;
	height: 210px;
	background: #ffffff;
	border-bottom: 1px solid #f0f0f0;
}

.ex-item-con .ex-item-title {
	width: 99%;
	height: 40px;
	border-left: 10px solid #df2928;
	background: url("../img/line-bg.png") no-repeat right top #fbfafa;
}

.ex-item-con .ex-item-title h4 {
	text-indent: 30px;
	line-height: 40px;
}

.ex-item-detail p {
	padding-left: 30px;
	line-height: 27px;
	margin-top: 20px;
}

.ex-item-detail a.ex-btn {
	float: right;
	margin-right: 50px;
	width: 200px;
	height: 50px;
	background: url("../img/exbtn-bg.png") no-repeat left top;
	margin-top: -20px;
	text-align: center;
	color: #ffffff;
	line-height: 44px;
}

/*.ex-item-detail a.ex-btn{    float: right;    margin-right: 50px;    width: 200px;    height: 50px;    margin-top: -20px;    text-align: center;    color: #ffffff;    font-size: 16px;    line-height:50px;    border-radius:3px;    background: #ea8200\0;    *background: #ea8200;!* Firefox 3.6+ *!    background: -moz-linear-gradient(top,  #ffa40e, #ea8200);!* Safari 4-5, Chrome 1-9 *!!* -webkit-gradient(,  [, ]?,  [, ]? [, ]*) *!    background: -webkit-gradient(linear,top,from(#ffa40e),to(#ea8200));!* Safari 5.1+, Chrome 10+ *!    background: -webkit-linear-gradient(top, #ffa40e, #ea8200);!* Opera 11.10+ *!    background: -o-linear-gradient(top, #ffa40e, #ea8200);}*/
.ex-content-list {
	width: 100%;
	display: block;
}

.ex-content-list ul {
	width: 100%;
}

.ex-content-list ul li {
	width: 100%;
	background: #ffffff;
	border: 1px dashed #df2928;
	clear: both;
	margin-top: 10px;
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

.ex-content-list ul li p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 30px;
	padding-left: 10px;
	line-height: 27px;
	border-left: 3px solid #df2928;
}

.ex-content-list ul li a {
	width: 120px;
	background: url("../img/exbtn-bg.png") no-repeat center top;
	text-align: center;
	color: #ffffff;
	line-height: 44px;
	margin-right: 30px;
	margin-top: 5px;
	border-radius: 5px;
}

/*===考试列表页===*/
.ex-ch-list {
	width: 100%;
	height: 400px;
	background: #f8f8f8;
	padding-top: 90px;
	border: 1px solid #f9f5d7;
	margin-top: 10px;
}

.ex-ch-listcon {
	width: 700px;
	height: 300px;
	margin: 0 auto;
	background: #ffffff;
	border: 7px solid #e03929;
}

.exlistcon-title {
	width: 500px;
	margin: 0 auto;
	height: 50px;
	border-bottom: 2px solid #000000;
	text-align: center;
}

.exlistcon-title h2 {
	font-size: 22px;
}

.exlistcon-l {
	width: 300px;
	margin: 0 auto;
	height: 175px;
	padding-top: 10px;
}

.exlistcon-l .radio {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 18px;
}

/*20171018*/
.dj-top-banner {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: url('../img/bannertop.png') no-repeat center top;
	background-size: cover;
	min-height: 198px;
	border-bottom: 8px solid #f7393b;
}

.dj-top-banner img {
	width: auto;
	text-align: center;
	margin: 75px auto 50px;
}

.ks-mbx {
	margin-top: 30px;
	width: 950px;
	padding-left: 10px;
	height: 32px;
	line-height: 32px;
	color: #737373;
	font-size: 14px;
	border-radius: 3px;
	background: #f7f7f7;
}

.ks-mbx a {
	margin: 0 6px;
	cursor: pointer;
	color: #737373;
}

.ks-mbx em {
	margin: 0 4px;
}

.ks-mbx a:hover {
	margin: 0 6px;
	color: #737373;
}

.ks-lb-tab {
	width: 928px;
	margin-top: 20px;
	float: left;
	padding: 15px;
	border: 1px solid #bfc7e4;
	background: #f7f7f7;
}

.ks-lb-tab p {
	font-size: 20px;
	line-height: 34px;
	width: 580px;
	color: #262626;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: url(../img/y-icon.png) left center no-repeat;
	background-size: 12px;
	padding-left: 20px;
	margin: 0;
}

.ks-lb-tab a {
	width: 128px;
	height: 34px;
	line-height: 34px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	float: right;
	border-radius: 3px;
	filter: alpha(opacity=100 finishopacity=50 style=1 startx=0, starty=0, finishx=0, finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ff4722, endcolorstr=#fe7b2e, gradientType=0);
	-ms-filter: alpha(opacity=100 finishopacity=50 style=1 startx=0, starty=0, finishx=0, finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ff4722, endcolorstr=#fe7b2e, gradientType=0);
	/*IE8*/
	background: #ff4722;
	/* 一些不支持背景渐变的浏览器 */
	background: -moz-linear-gradient(top, #ff4722, #fe7b2e);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff4722), to(#fe7b2e));
	background: -o-linear-gradient(top, #ff4722, #fe7b2e);
}

.no-t {
	float: left;
	width: 100%;
	text-align: center;
	color: #c5cfec;
	font-size: 14px;
	margin: 20px auto;
}